

#header, #searchBtn, #head-h1{
    background-image: linear-gradient(to bottom right, #691BC7, #1822FF);
    color: whitesmoke;
}

#searchArea, #fiveDay{
    margin: 15px;
}

.weatherIcon {
    max-width:15%;
    height:auto;
}

#containerId {
    justify-content: center;
}